<!doctype html>
<html>

<head>
  <title>Multiplayer QA</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Multiplayer</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li v-if="loggedIn" class="nav-item active">
            <a class="nav-link" @click.prevent="page = 'Dashboard'" href="#">Dashboard</span></a>
          </li>

          <li v-if="loggedIn" class="nav-item active">
            <a class="nav-link" @click.prevent="logout" href="#">Logout</span></a>
          </li>

          <li v-if="!loggedIn" class="nav-item active">
            <a class="nav-link" @click.prevent="page = 'Login'" href="#">Login</span></a>
          </li>

          <li v-if="!loggedIn" class="nav-item active">
            <a class="nav-link" @click.prevent="page = 'Register'" href="#">Register</span></a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <div v-if="page === 'Dashboard'" class="row">
        <div class="col-md-4">
          <h6 class="text-muted">ONLINE</h6>
          <ul class="list-group">
            <li class="list-group-item" v-for="user in dashboard.onlineUsers" @click="showDialog(user.id)">
              {{ user.name }}
              <span v-if="socket.id == user.id" class="badge badge-primary badge-pill">You</span>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div v-if="quizRole" class="card text-center">
            <div class="card-header">
              Live Quiz - {{ quizRole }}
            </div>
            <div class="card-body">


              <div v-if="quizRole === 'Owner'">
                <h4 class="text-muted" v-if="dashboard.question">{{ dashboard.question }}</h4>
                <div v-if="!dashboard.awaitingQuestion">
                  <button @click="respondToQuiz('Yes')" class="btn btn-primary">Yes</button>
                  <button @click="respondToQuiz('No')" class="btn btn-danger">No</button>
                </div>
                <h4 v-else class="text-muted">Waiting for question</h4>
              </div>


              <div v-else>
                <div v-if="dashboard.awaitingAnswer">
                  <h5 class="text-muted">Waiting for an answer.</h5>
                </div>
                <div v-else>
                  <button v-if="dashboard.quiz.questionsAsked < 20" @click="askAQuestion" class="btn btn-primary">Ask A Question</button>
                  <button @click="submitAnswer" class="btn btn-info">Submit Answer</button>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              Questions Asked: {{ dashboard.quiz.questionsAsked }}
            </div>
          </div>
          <div v-else class="d-flex justify-content-center align-items-center">No live quiz, click on any user to start
          </div>
        </div>
      </div>


      <div v-if="page === 'Login'" class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" v-model="login.email" class="form-control" id="loginEmail">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" v-model="login.password" class="form-control" id="loginPassword">
          </div>
          <button type="submit" @click.prevent="doLogin" class="btn btn-primary">Login</button>
        </div>
      </div>

      <div v-if="page === 'Register'" class="row">
        <div class="col-12">
          <div class="col-12">

            <div class="form-group">
              <label for="registerEmail">Name</label>
              <input type="tet" v-model="register.name" class="form-control" id="registerName">
            </div>

            <div class="form-group">
              <label for="registerEmail">Email</label>
              <input type="email" v-model="register.email" class="form-control" id="registerEmail">
            </div>

            <div class="form-group">
              <label for="registerPasword">Password</label>
              <input type="password" v-model="register.password" class="form-control" id="registerPassword">
            </div>
            <button type="submit" @click.prevent="doRegister" class="btn btn-primary">Regisger</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <script src="/script.js"></script>
</body>

</html>